aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
azure-cognitiveservices-speech==1.32.1
beautifulsoup4==4.12.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
distro==1.8.0
EasyProcess==1.1
entrypoint2==1.1
exceptiongroup==1.1.3
frozenlist==1.4.0
google-api-core==2.11.1
google-auth==2.23.0
google-cloud==0.34.0
google-cloud-speech==2.21.0
googleapis-common-protos==1.60.0
grpcio==1.58.0
grpcio-status==1.58.0
h11==0.14.0
httpcore==1.0.1
httpx==0.25.1
idna==3.4
iso8601==2.0.0
keyboard==0.13.5
MouseInfo==0.1.3
mss==9.0.1
multidict==6.0.4
numpy==1.24.4
openai==1.2.3
pandas==2.0.3
Pillow==10.0.1
playsound==1.3.0
proto-plus==1.22.3
protobuf==4.24.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
PyAutoGUI==0.9.54
pydantic==2.4.2
pydantic_core==2.10.1
pygame==2.5.2
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
python-dateutil==2.8.2
python-dotenv==1.0.0
pytweening==1.0.7
pytz==2023.3.post1
requests==2.31.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SpeechRecognition==3.10.0
tqdm==4.66.1
twitchio==2.7.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.16
websockets==12.0
yarl==1.9.2
